<title>Add Team</title>

<form action="/add-team" method="POST" enctype="multipart/form-data">
    <div class="add-team">
        <br>
        <h1>Club Data</h1>

        {{>add-team/form }}


        <button type="submit" class="btn btn-primary">Add team <i class="bi bi-send"></i> </button>
        <a class="btn btn-secondary" href="/">Back <i class="bi bi-arrow-left"></i></a>


</form>
<br>