 <div class="modal fade" id="modal-{{{teamInfo.tla}}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sure you want to delete?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <form action="/delete/{{{teamInfo.tla}}}/{{{teamInfo.id}}}" method="POST">
                        <button class="btn btn-danger" type="submit">Delete <i class="bi bi-trash"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>